#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	mkdir -p bin
	set -ex && \
		export CGO_ENABLED=1 && \
		./build_linux.sh -buildmode pie -v -ldflags "-s -w"

override_dh_auto_install:
	install -Dpm755 -d debian/tmp/etc/cni/net.d
	install -Dpm755 -d debian/tmp/usr/libexec/cni
	install -Dpm755 -t debian/tmp/usr/libexec/cni bin/*

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
